.intro {
    padding: 44px 16px 0;
}

@media screen and (min-width: 550px) {
    .intro {
        padding: 55px 24px 0;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        padding: 55px 48px 0;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        padding: 92px 115px 0 148px;
    }
}