@import url(./__overlay/cover__overlay.css);
@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__button/cover__button.css);


.cover {
  box-sizing: border-box;
  margin: 0;
  padding: 92px 48px;
  display: flex;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 92px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 88px 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding: 64px 0;
  }
}