.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
     "title website"
     "image content"
     "button content";
    grid-gap: 28px 28px;
}

.place + .place {
    padding-top: 80px;
}




@media screen and (max-width: 768px) {
    .place + .place {
        padding-top: 30px;
    }
}

@media screen and (max-width: 550px) {
    .place {
        grid-template-areas:
            "title title"
            "website website"
            "image image"
            "content content"
            "button button";
        grid-gap: 30px;
    }
}
